h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
}

h2{
  font-size: 1em;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

header {
  background: #263238;
  width: 100%;
  color: #ECEFF1;
  text-align: center;
  font-size: 1.2em;
  height: 5vh;
  vertical-align: center;
  position: relative;
}


main {
  display: flex;
  flex-direction: row;
    text-align: center;
    width: 100vw;
    height: 95vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map {
  width: 80%;
}

.search-venues{
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

.sidebar {
  background: #26344c;
  border-right: solid 1px #607D8B;
  color: #ECEFF1;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  height: 100%;
  overflow-y: auto;
  position: relative;
  line-height: 1;
  text-align: left;
  width: 20%;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

li {
  padding: 4px;
}

.search-venues{
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

.hamb-button {
  color: "white";
  float: "left";
  margin: "0 0 0 2vw";
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);

}