h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin: auto;
  padding-left: 10px;
}

h2{
  font-size: 1em;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

header,
footer {
  background: #263238;
  width: 100%;
  color: #ECEFF1;
  padding: 1% 0;
  text-align: center;
}

header {
  font-size: 1.4em;
}


main {
  display: flex;
  flex-direction: row;
  height: 100vh;
    text-align: center;
    width: 100%;
}

.map {
  width: 80%;
}

.search-venues{
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

.sidebar {
  background: #26344c;
  border-right: solid 1px #607D8B;
  color: #ECEFF1;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  height: 100%;
  overflow-y: auto;
  position: relative;
  line-height: 1;
  text-align: left;
  width: 20%;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

li {
  padding: 4px;
}

.search-venues{
  width: 100%;
  padding: 10px;
  font-size: 1em;
}